/* responsividade */
/* Mini-laptop */
@media (min-width:986px) and (max-width:1024px){
    .banner_cabecalho {
        width: 650px;
        margin-top: -230px;
        margin-left: 150px;
    }
    .cabecalho_right {
        margin-right:100px;
    }
    .cabecalho_left_texts {
        margin-left:80px;
    }
    .exbr_text {
        width:30px;
    }
    #treinamentos::before {
        font-size: 28px;
    }
    .scripts_title::before {
        position:relative;
        left:0px;
        top:10px;

    }
    .scripts_title {
        width:300px;
    }
    .treinamentos_body {
        max-width:600px;
    }
    .erros_frequentes {
        margin-left:0px;
    }
    .erros_title::before {
        top: 0px;
        left: 0;
        position:relative;
    }
}
/* Tablet */
@media(max-width: 986px){
    .cabecalho_right {
        display:none;
    }
    .cabecalho_left {
        margin-left: 30px;
    }
    .banner_cabecalho {
        width: 700px;
        margin-tOp:-220px;
    }
    #treinamentos::before {
        font-size: 28px;
    }
    .scripts_title::before {
        position:relative;
        left:0px;
        top:10px;
    }
    .scripts_title {
        width:300px;
    }
    .scripts_title {
        margin-left:-200px;
    }
    .scripts_text {
        margin-left:-200px;
    }
    .treinamentos_body {
        width: 300px;
    }
    .erros_title {
        margin-left: -200px;
    }
    .erros_title::before {
        top: 0px;
        left: 0;
        position:relative;
    }
    .guia1 {
        margin-left:-200px;
    }
    .guia_body_content {
        margin-left:-200px;
    }
    .treinamentos_date {
        margin-left: -100px;
    }
    .FAQs_card {
        box-shadow: none;
    }
    .FAQ_content_text {
        margin-left: 20px;
        width: 430px;
        height: 80px;
    }
    .FAQ_card_active:after {
        display: none;
    }
    .FAQ_content_desc {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 25px;
        width: 449px;
    }
    .FAQ_notfound {
        flex-direction:column;
    }
    .anuncios {
        width: 440px;
        height:100px;
    }
    
}

/* @media (max-width: 727px){
    .banner_cabecalho {
        width: 300px;
        margin-top:-150px;
        margin-left:100px;
    }
} */

/* Celular grande */
@media (max-width: 771px) {
    body, html {
        overflow-x: hidden;
    }
    header .cabecalho_content {
        display:flex;
        justify-content:center;
    }
    header .cabecalho {
        height: 150px;
    }
    .cabecalho_right {
        display:none;
    }
    .destaque_content {
        display:none;
    }
    .cp {
        display:none;
    }
    .banner_cabecalho {
        margin-left: -80px;
        width: 400px;
        height: auto;
        margin-top:1px;
    }
    #treinamentos {
        width: 100vw;
        min-height: 550px;
    }
    #treinamentos::before {
        font-size: 22px;
    }
    .treinamentos_text {
        padding-left: 20px;
    }
    .scripts_text {
        margin-left: -50px;
    }
    .treinamentos_body {
        width: 300px;
    }
    .scripts_title::before{
        top: 10px;
        left: 0px;
        position:relative;
    }
    .scripts_title {
        margin-left:-40px;
    }
    .erros_title {
        margin-left: -30px;
    }
    .erros_title::before {
        top: 0px;
        left: 0;
        position:relative;
    }
    .basico1 {
        width:360px;
    }
    .guia1 {
        width:360px;
        margin-left:-40px;
    }
    .script_body {
        width:360px;
    }
    .guia_body_content {
        margin-right: 35px;
        width: 350px;
        margin-left: -40px;
    }
    .treinamentos_date {
        margin-left: 0px;
    }
    .FAQ_title h4 {
        font-size: 22px;
        padding: 10px 0px;
    }
    .FAQs_card {
        box-shadow: none;
    }
    .FAQ_content_text {
        margin-left: 20px;
        width: 320px;
        height: 80px;
    }
    .FAQ_card_active:after {
        display: none;
    }
    .FAQ_content_desc {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 25px;
        width: 342px;
    }
    .FAQ_desc--text h4{
        font-size:14px;
    }
    .FAQ_notfound {
        flex-direction:column;
    }
    .FAQ_notfound h3 {
        margin-left:60px;
    }
    .FAQ_notfound span {
        font-size: 14px;
        margin-left: 50px;
        margin-top: 5px;
    }
    .anuncios {
        width: 320px;
        height:100px;
    }
    .footer_content {
        padding: 0px 30px;
    }

}

/* Celular pequeno */
@media (max-width: 377px){
    body{
        overflow-x: hidden;
    }
     /* header .cabecalho_content {
        display:flex;
        justify-content:center;
    }
    header .cabecalho {
        height: 150px;
    }
    .cabecalho_right {
        display:none;
    }
    .destaque_content {
        display:none;
    }
    .cp {
        display:none;
    } */
    .banner_cabecalho {
        margin-left: -80px;
        width: 400px;
        height: auto;
        margin-top:1px;
    }
    .scripts_title::before{
        top:10px;
        left:0;
        position:relative;
    }
    .basico1 {
        width: 260px;
    }
    .script_t1 {
        padding:0;
    }
    .scripts_text {
        margin-left: -20px;
    }
    .script_t1 .script_icon {
        width: 30px;
        height: 30px;
    }
    .scripts_title {
        margin-left: -20px;
    }
    .script_t1_title_text {
        
        margin: 0px 10px;
        font-family: 'Montserrat', sans-serif;
        border-right: none;
        padding: 10px 20px;
        
    }
    .script_t1_title_desc {
        display:none;
    }
    .script_body {
        width: 260px;
    }
    #script_body_title--t1 {
        margin-left:20px;
        font-size:14px;
    }
    .guia1 {
        width:260px;
    }
    .guia1_content {
        padding: 10px 20px;
        border-right: none;
    }
    .guia1_desc {
        display:none;
    }
    .guia1_text {
        border-right:none;
    }
    .guia_body_content {
        margin-right: 35px;
        width: 250px;
    }
    .total_text, .total_numbers {
        font-size: 20px;
    }
    .FAQ_content_text {
        width: 250px;
        height: 80px;
        margin-left: 5px;
    }
    .FAQ_content_text h1 {
        font-size: 20px;
    }
    .FAQ_content_desc {
        margin-left: 7px;
        width: 280px;
    }
    .FAQ_desc--text h4 {
        font-size: 11px;
    }
    .FAQ_notfound h3 {
        font-size: 18px;
    }
    .FAQ_notfound span {
        font-size: 12px;
        margin-left: 70px;
    }
    .anuncios {
        width: 260px;
    }
    
    .footer_content_text h4, a {
        font-size: 12px;
    }
}