/* cor #416923 */
* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Titillium Web', sans-serif;   
}


::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #216f46;
  border-radius: 10px;
}

header .cabecalho {
    width:100%;
    height:250px;
    /*background-color:#416923;*/
    background-color: #216f46;
    box-shadow: 1px -5px 14px 0px black;
}

header .cabecalho_content {
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.cabecalho_left, .cabecalho_right {
    margin-top:20px;

}

.cabecalho_right {
    width:200px;
    height:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.exbr_text {
    margin-bottom:30px;
    width:250px;
    display:flex;
    align-items:center;
}
.exbr_text img {
    width:auto;
    height:40px;
    padding-right:10px;
}

.exbr_text_menus h4 {
    margin-right: 100px;
    margin-bottom:20px;
}
.destaque_content {
    margin-top:10px;
    margin-left:-3px;
    width:120px;
    height:190px;
    background-color:#FFF;
    background: rgba(255,255,255, 0.05);
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    border-radius: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(15px);
    flex-direction:column;
}
.destaque_title {
    margin-top:10px;
    margin-bottom:20px;
}
.img_bx {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.2);
    
}
.avatar_destaque {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_desc {
    font-family: 'Montserrat', sans-serif;
    font-size:11px;
    color:#FFF;
}

.cabecalho_left a, .cabecalho_right a{
    color:#FFF;
    text-decoration:none;
    font-weight: 700;
}
.cabecalho_left_texts h4 {
    margin: 10px 0px;
}

.cabecalho_banner {
    padding-top:-20px;
    max-width:1170px;
    margin:auto;
}

.banner_cabecalho {
    margin-top:-280px;                                                                                                                           
    margin-bottom: auto;
    max-width: 1000px; /* 700px */
    display:flex;
    align-items: center;
    margin-left:auto;
    object-fit: cover;

    /*width:800px;
    margin-top:-100px;
    margin-bottom:-60px;
    display:flex;
    align-items: center;
    margin-left:200px;*/
}

/*.banner_cabecalho::before {
    background-image: url('https://i.imgur.com/TR52llW.png');
    background-position:center;
}*/

.exbr, .cp{
    font-size:22px;
    font-family: 'Montserrat', sans-serif; /* aa */
}
.cp_menu {
    margin-left:90px;
    display:flex;
    justify-content:center;
}
.cp_menu_content{
    display:flex;
    margin-top:10px;
}
.cp_menu_content a {
    display:inline-block;
    padding: 10px 25px;
}
.cp_menu_content a:hover {
    background-color:rgba(0,0,0,0.1);
}

#treinamentos {
    width:100%;
    min-height:550px; /* 2000px */
    /*background-image:url('https:////oficiais.exbrhbofc.net/superiores/paper.gif');*/
    background-image: url('http://2.bp.blogspot.com/-BKi8pPWK62w/VHvPcJcn_TI/AAAAAAAABVM/V9ave86IHRU/s1600/fundo.png');
    background-repeat: repeat;
    background-position:center;
    animation: piso 50s linear infinite; /*Animação */
    transition: max-height 0.9s ease-in-out;
    
}

@keyframes piso
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 0 506px;
    }
}

#treinamentos::before {
    content: '2ªCP - Responsável pelos treinamentos';
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 50px;
    color: #cbcccc;
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #216f46c7;
    box-shadow: 0 5px 35px rgba(0,0,0,0.5); 
}
/* .treinamentos_title::before {
    right:0;
    left:0;
    position: absolute;
    content:'Treinamentos';
    text-align:center;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:40px;
    color: #216f46c7;
    font-family: 'Montserrat', sans-serif;
    margin-top:20px;
    font-weight:800;
}*/

.treinamentos_title_bar {
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:80px;
 
}

.treinamentos_body {
	display:flex;
	flex-wrap: wrap;
    padding-top:50px;
    max-width:1200px;
    margin:auto;
}

.treinamentos_title h1 {
    color:#416923;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
}

.treinamentos_scripts {
    margin-top:80px;
}
.scripts_title {
    margin-bottom:20px;
    padding-bottom:20px;
    width:300px;
    border-bottom:5px solid #2196f3;
}
.scripts_title::before {
    top:10px;
    left:0px;
    position: relative;
    content:'Scripts de Treinamento';
    text-align:center;
    align-items:center;
    justify-content:center;
    /* text-transform:uppercase; */
    font-size:25px;
    color: #216f46c7;
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
}
 /* .scripts_title_bar{
    margin-bottom:30px;
    margin-top:20px;
    width:300px;
    height:2px;
    background-color:#216f46;
}*/

.treinamentos_scripts .scripts_title h1 {
    color:#416923;
    font-size:18px;
    margin-bottom:20px;
}
.scripts_text {
    display:flex;
    flex-direction:column;
    justify-content: center;
   
}
.basico1 {
    margin-top:5px;
    background-color:#FFF;
    width:595px;
    height:auto;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom:10px;
    box-shadow: 1px 1px 1px 1px #CCC;
    color:#416923;

}
.basico1:hover, .basico1 h4:hover {
    background-color:#216f46 !important;
    color:#FFF !important;
}
.script_t1 {   
    margin-left:20px;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    padding:15px; 
}
.width {
    width: 140px !important;
}
.script_t1_title_text {
    width:100px;
    margin:0px 10px;
    font-family: 'Montserrat', sans-serif;
    border-right: 1px solid #CCC;
    padding: 0px 10px;
}
.script_t1_title_desc h4 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

.script_t1 .script_icon {
    width:40px;
    height:40px;
    filter: hue-rotate(10deg);
}

.script_body {
    margin:0px 0px;
    width:590px; /* 590px */
    max-height:1430px; /* 1359px */
    background-color:#FFF;
    background-image:url('https:////habboemotion.com/resources/images/website_backgrounds/inside.gif');
    background-position:center;
    transition: max-height 0.9s ease-in-out;
    overflow:hidden;
    border-radius:15px;
    
}
.hide {
    max-height: 0;
    pointer-events: none;
    margin:0;
    
}

.script_body p{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#FFF;
    
}
.script_body .script_body_text{
    font-size:12px;
    padding:20px;

}

.erros_frequentes {
    margin-left: auto;
    margin-top:20px;
}
.erros_title {
    margin-left:36px;
    margin-top:80px;
    width:400px;
    border-bottom:5px solid #2196f3;
}
.erros_title::before {
    top:-10px;
    right:0px;
    position:relative;
    content:'Guia - Erros leves a Graves';
    text-align:center;
    align-items:center;
    justify-content:center;
    /* text-transform:uppercase; */
    font-size:25px;
    color: #216f46c7;
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
}
.erros_title h4 {
    color:#416923;
    font-weight: 700;
    font-size:19px;
}

.guia1 {
    margin-left:20px;
    margin-top:18px;
    background-color:#FFF;
    width:500px;
    height:auto;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom:10px;
    box-shadow: 1px 1px 1px 1px #CCC;
    color:#416923;
}

.guia1_content {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:15px; 
    margin-bottom: 25px;
}
.padding_bottom {
    padding-bottom:13px;
}

.guia1_text {
    padding:0px 23px;
    width:80px;
    height:auto;
    border-right:1px solid #CCC;
    font-family: 'Montserrat', sans-serif;
}

.guia1_text span {
    font-weight: 700;
    font-size:14px;
}
.guia1_desc h4 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    padding-left:10px;
}
.icone {
    display:flex;
    align-items:center;
    justify-content: center;
}

.img {
    width:50px;
    height:50px;
}

.complementares {
    padding-right:50px;
}


/* Styles do corpo do script de erros */

.guia_body_content {
    color:#FFF;   /* Branca ou preta? */                /* Passei tudo pra cá */
    font-size:13px;
    font-weight: bold;
    width:491px;
    max-height:0px; /* 2350px */
    /* 10px */
    background-image:url('../images/fundo_erros.gif'); /* Se tiver uma melhor, coloque por favor */
    background-position:center;
    margin-left:20px;
    margin-top:-35px; 
    overflow: hidden;
    padding: 0px 0px 0px 10px;
    transition: max-height 0.9s ease-in-out;
}



.guia_body_title {
    text-align: center;
    font-size:15px;
}

.guia_body .erros_green {
    color:#416923;
}
.guia_body .erros_gray{
    color:yellow;
    font-weight: 700;
}
.guia_body .erros_blue {
    color:#034978;
}

.guia_body .erros_red{
    color:red;
}
.treinamentos_date {
    margin-left:30px;
}
.date_content {
    margin-top:25px;
    display:flex;
}
.date-- {
    font-size:27px;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    color:#416923;
}
.date_day {
    color:#416923;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: bold;
    margin-left:10px;
}
.date_avaliacoes {
    margin-top:10px;
}
.avaliacoes_dia {
    display:flex;
}
.avaliacoes_dia--content {
    margin-right:5px;
    color:#416923;
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
}
.avaliacoes_dia--number {
    color:#416923;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: bold;
}
.total_avaliacoes {
    display:flex;
    margin-top:10px;
}
.total_text {
    margin-right:5px;
    color:#416923;
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
}
.total_numbers {
    color:#416923;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: bold;
}


/* Styles do FAQ */

#FAQ {
    max-width: 100%;
    min-height: 580px;
    background-image: url(../images/bgfaq.gif);
    background-repeat: repeat;
    animation: bolhas 50s linear infinite;
}
.FAQs_card {
    padding-bottom:10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

@keyframes bolhas
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 0 506px;
    }
}

.FAQ_title {
    display:flex;
    justify-content:center;
    align-items:center;
    max-width: 100%;
    max-height: 50px;
    background-color: #0a2838;
    padding-bottom:30px;
    /*background-color:#416923;*/
    /* background-color:#2196f3; */
}
.FAQ_title h4 {
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color:#FFF;
}
.FAQ_title::before{
    content: ' ';
    position:absolute;
    width:100%;
    height:50px;
    background: linear-gradient(rgb(0 0 0 / 20%),rgb(33 111 70 / 30%));
}
.FAQ_content {
    max-width:1200px;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
/* .FAQ_active, .FAQ_content_text:hover {
    background-color:#CCC;
}*/

.FAQ_content_text {
    cursor:pointer;
    width:700px;
    height:80px;
    border-radius: 15px;
    margin-top:20px;
    background: rgb(92 164 218 / 65%);
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    backdrop-filter: blur(15px);
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:0px 20px;
}
.FAQ_content_text h1 {
    font-size:25px;
}
 .FAQ_icon {
    margin-right:20px;
}

/* .test:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size:40px;
}*/
.FAQ_card_active:after {
    content: "";
    position: absolute;
    background-image: url('../images/plus-sign.png');
    background-size: cover;
    height: 35px;
    width: 35px;
    top: 30%;
    right: 10%;
}
.FAQ_active {
    background-color:#CCC;
}
.FAQ_active:after{
    content: "";
    position: absolute;
    background-image: url('../images/close.png');
    background-size: cover;
    height: 35px;
    width: 35px;
    top: 30%;
    right: 10%;
}


/* .FAQ_question {
    margin-right:78px;
}*/

.FAQ_icon_img{
    display:flex;
    justify-content: flex-end;
}

.FAQ_content_desc{
    border-top: 1px solid #ccc;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin-left:3px;
    width:730px;
    max-height:0px; /* max-height: 90px */
    background-color: #FFF;
    border-radius:10px;
    margin-top:-10px;
    overflow: hidden;
    /* transition: max-height 0.9s ease-in-out;*/
    transition: max-height 0.2s ease-in-out;
    
}
.FAQ_desc--icon {
    margin-right:10px;
    margin-left:10px;
}
.FAQ_desc--icon, .FAQ_desc--text {
    padding:20px 5px;
}
.FAQ_notfound {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin-top:10px;
    margin-left:-40px;
}
.FAQ_notfound h3{
    color:#FFF;
    margin-right:10px;
    font-size:21px;
}
.FAQ_notfound span {
    color:#FFF;
    font-size:17px;
}
.anuncios {
    margin:20px 0px;
    width:800px;
    height: 65px;
    background: url(https://exbrhbofc.net/arquivos/2017/12/publicity.png) no-repeat center, #346599;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: .25rem;
    position: relative;
    display: block;
}


/*Responsáveis*/
.responsaveis_content {
    margin:auto;
    max-width:1200px;
}

#responsaveis { 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background-color:#CCC;*/
    /*height:400px;*/
    background-image:url('../images/bgresponsaveis.gif');
    animation: foguete 50s linear infinite; /*Animação */
}

@keyframes foguete
{
    0%
    {
        background-position: 20% 100%;
    }
    100%
    {
        background-position: 0 506px;
    }
}

#responsaveis::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0 0 0 / 20%),rgb(33 111 70 / 30%));
}

#responsaveis::before {
    content: 'Responsáveis';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #139bd8; /* Deixa a cor verde porra, padrão exército */
}

.container {
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:40px 0;
    display: flex;
}

.container .card {
    position: relative;
    width: 200px;
    height: 255px;
    background:rgba(255,255,255, 0.05);
    /*margin: 20px;*/
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    backdrop-filter: blur(15px);
}

.container .card .responsaveis_content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .responsaveis_content {
    opacity: 1;
}

.container .card .responsaveis_content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.2);
}

.container .card .responsaveis_content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .responsaveis_content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .responsaveis_content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300px;
    text-transform: initial;
}

/*.container .card::before {
	content: 'Líder';
	position: absolute;
	top: 0;
    left:75%;
    transform: rotate(35deg);
    text-align: center;
    padding: 10px 10px 10px;
    background-color: #15a275;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    z-index: 1;
    pointer-events: none;
    color: #fff;
}*/

.container .card .lider:before {
	content: 'Líder';
	position: absolute;
	top: 0;
    left:70%;
    transform: rotate(30deg);
    text-align: center;
    padding: 10px 10px 10px;
    background-color: #15a275;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    z-index: 1;
    pointer-events: none;
    color: #fff;
}

.container .card .destaque:before {
	content: 'Destaque';
	position: absolute;
	top: 0;
    left:60%;
    transform: rotate(30deg);
    text-align: center;
    padding: 10px 10px 10px;
    background-color: #a21515;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    z-index: 1;
    pointer-events: none;
    color: #fff;
}

.cabecalho_left .teste img {
	position: absolute;
	margin-top: -20px;
    top: 10;
    left: 10;
    width: auto;
    height: auto;
    object-fit: cover

}

.cabecalho_right .teste img

.cabecalho_left .teste::before {

}

/*data-tooltip - Paterneck viado, não quis usar framework e tenho que fazer tudo na mão, arrombado!*/
/* Para de me xingar nos comentário fdp */

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: auto;
    left: calc(50% - 70px);
    bottom: -15%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip);
    color: white;
    background: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition:opacity 0.3s transform 0.2s;
       -moz-transition:opacity 0.3s transform 0.2s;
        -ms-transition:opacity 0.3s transform 0.2s;
         -o-transition:opacity 0.3s transform 0.2s;
            transition:opacity 0.3s transform 0.2s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}

/*Gráficos e paterneck é viado. <!-- Terminar amanhã edit 03:26 05/03 -->*/

#graficos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
    background-image:url('../images/bgava.png');
    animation: espaco 60s linear infinite; /*Animação */
}

@keyframes espaco
{
    0%
    {
        background-position: 20% 100%;
    }
    100%
    {
        background-position: 0 506px;
    }
}

#graficos::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0 0 0 / 20%),rgb(33 111 70 / 30%));
}

#graficos::before {
    content: 'Estatísticas';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #13204e; 
}


.container_graficos{
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
}

.container_graficos .graficos_content {
	position: relative;
	width: 250px;
	height: 300px;
	text-align: center;
	z-index: 10;
	margin: 20px 20px 60px;
}

.container_graficos .graficos_content .box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.05);
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
	border: 1px solid rgba(255,255,255,0.1);
	z-index: 10;
	border-radius:10px;
}

.porcent {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.percent .number {
	position: absolute;
    background-color: rgba(255,255,255, 0.05);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.percent .number h3 {
	color: #fff;
	font-weight: 700;
	font-size: 50px;
}

.percent .number h3 span {
	font-size: 24px;
}

.text {
	position: absolute;
	bottom: -42px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-align: center;
	padding: 30px 20px 10px;
	background-color: #f00;
	border-radius: 10px;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	z-index: 1;
	pointer-events: none;
	-webkit-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
	   -moz-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
	    -ms-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
	     -o-transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
	        transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
	color: #fff;
    transition-delay: 0.5s,0.5s,0s,0.5s;

}

.graficos_content:hover .text {
    transition-delay: 0s,0.5s,0.5s,0s;
	bottom: -70px;
	z-index: 11;
	-webkit-transform: translateX(-50%) translateY(-50px);
	   -moz-transform: translateX(-50%) translateY(-50px);
	    -ms-transform: translateX(-50%) translateY(-50px);
	     -o-transform: translateX(-50%) translateY(-50px);
	        transform: translateX(-50%) translateY(-50px);
	padding: 10px 20px 10px;
}

.graficos_content:nth-child(1) .text {
    background-color: #0a6275;
}

.graficos_content:nth-child(2) .text {
    background-color: #107dad;
}

.graficos_content:nth-child(3) .text {
    background-color: #0c2b33;
}

.graficos_content:nth-child(4) .text {
    background-color: #4e8b6b;
}


svg {
    position: relative;
    width: 150px;
    height: 150px;
}

svg circle {
    width: 100%
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255,255,255,0.05);
    -webkit-transform: translate(5px,5px);
       -moz-transform: translate(5px,5px);
        -ms-transform: translate(5px,5px);
         -o-transform: translate(5px,5px);
            transform: translate(5px,5px);
    stroke-linecap: round;
}

svg circle:nth-child(2) {
    stroke-dasharray: 440px;
    stroke-dashoffset: 80px;
    stroke: #fff;
}

.graficos_content:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90 / 100));
}

.graficos_content:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90 / 100));
}

.graficos_content:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90 / 100));
}

.graficos_content:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90 / 100));
}

.graficos_content:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90 / 100));
}
/* Rodapé */
footer {
    background-color:#216f46;
}
.footer_content {
    max-width:1200px;
    height:100px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_footer {
    margin-right:10px;
}
.footer_content_text h4, a {
    color:#FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    text-decoration: none;
}
.matthaios, .paterneck {
    font-weight: bold;
}
